# 시리즈 만들기

In [2]:
import pandas as pd

In [3]:
s = pd.Series(['banana',42])

In [4]:
print(s)

0    banana
1        42
dtype: object

In [5]:
s = pd.Series(['Wes Mckinney','Creator of Pandas'])

In [6]:
print(s)

0         Wes Mckinney
1    Creator of Pandas
dtype: object

In [7]:
s = pd.Series(['Wes Mckinney','Creator of Pandas'], index = ['Person', 'Who'])

In [8]:
print(s)

Person         Wes Mckinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [9]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist','Statistician'],
    'Born': ['1920-07-25','1876-06-13'],
    'Died': ['1958-04-16','1937-10-16'],
    'Age': [37,61]
})

In [10]:
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [11]:
scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist','Statistician'],
            'Born': ['1920-07-25','1876-06-13'],
            'Died': ['1958-04-16','1937-10-16'],
            'Age': [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation','Born','Age','Died']
)

In [12]:
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

#### OrderedDict 사용해보기

In [13]:
from collections import OrderedDict

In [14]:
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist','Statistician']),
    ('Born', ['1920-07-25','1876-06-13']),
    ('Died', ['1958-04-16','1937-10-16']),
    ('Age', [37,61])
]))

In [15]:
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [16]:
scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist','Statistician'],
            'Born': ['1920-07-25','1876-06-13'],
            'Died': ['1958-04-16','1937-10-16'],
            'Age': [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation','Born','Died','Age']
)

In [17]:
first_row = scientists.loc['William Gosset']

In [18]:
print(type(first_row))

<class 'pandas.core.series.Series'>

#### Age열에 정수형 리스트를 전달해 데이터프레임을 만들었어도 시리즈를 출력하면 자료형을 오브젝트로 인식함

In [19]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [20]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Rosaline Franklin to William Gosset
Data columns (total 4 columns):
Occupation    2 non-null object
Born          2 non-null object
Died          2 non-null object
Age           2 non-null int64
dtypes: int64(1), object(3)
memory usage: 160.0+ bytes

# index, values, keys 사용하기

In [21]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [22]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [23]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [24]:
print(first_row.index[0])

Occupation

In [25]:
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [26]:
ages = scientists['Age']

In [27]:
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [28]:
print(ages.mean())

49.0

In [29]:
print(ages.min())

37

In [30]:
print(ages.max())

61

In [31]:
print(ages.std())

16.97056274847714

In [32]:
print(ages.describe())

count     2.000000
mean     49.000000
std      16.970563
min      37.000000
25%      43.000000
50%      49.000000
75%      55.000000
max      61.000000
Name: Age, dtype: float64

In [33]:
print(ages.sample())

Rosaline Franklin    37
Name: Age, dtype: int64

# 시리즈와 불린 추출 사용하기

In [36]:
scientists = pd.read_csv('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/data/scientists.csv')

In [37]:
ages = scientists['Age']

In [38]:
print(ages.max())

90

In [39]:
print(ages.mean())

59.125

#### 평균 나이보다 나이가 많은 사람의 데이터 추출

In [40]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [41]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [42]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [43]:
manual_bool_values = [True, True, False, False, True, True, False, True]

In [44]:
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [45]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [46]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [47]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [48]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [49]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [50]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [51]:
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [52]:
rev_ages = ages.sort_index(ascending=False)

#### index 순서를 바꿔서 나타내도 벡터끼리의 연산을 할 때는 일치하는 인덱스 값끼리 수행

In [53]:
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [54]:
print(ages *2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [55]:
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

#### 데이터프레임의 Age열에서 Age열의 평균보다 높은 행만 출력

In [56]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [59]:
# print(scientists.loc[[True, True, False, True]])
# 에러?

# 데이터프레임과 브로드캐스팅

In [60]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [64]:
print(scientists['Born'].dtype)

object

In [66]:
print(scientists['Born'].dtype)

object

In [67]:
born_datetime = pd.to_datetime(scientists['Born'],format = '%Y-%m-%d')

In [69]:
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [71]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')

In [72]:
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

#### 각각의 값을 새로운 열로 추가하기

In [73]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)

In [74]:
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23

In [75]:
print(scientists.shape)

(8, 7)

#### 과학자가 얼마 동안 세상을 살다가 떠났는지 계산

In [76]:
scientists['age_days_dt'] = (died_datetime - born_datetime)

In [77]:
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [80]:
scientists['age_days_dt'] = (scientists['died_dt']-scientists['born_dt'])

In [83]:
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [84]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [85]:
import random

In [86]:
random.seed(42)

In [88]:
random.shuffle(scientists['Age'])

In [89]:
print(scientists['Age'])

0    77
1    61
2    41
3    66
4    90
5    37
6    45
7    56
Name: Age, dtype: int64

In [90]:
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   37           Physician
6           Alan Turing  1912-06-23  1954-06-07   45  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 데이터프레임의 열 삭제하기

In [91]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [92]:
scientists_dropped = scientists.drop(['Age'], axis = 1)

In [94]:
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [96]:
names = scientists['Name']

In [97]:
names.to_pickle('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_names_series.pickle')

In [99]:
scientists.to_pickle('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_df.pickle')

# 피클 데이터 불러오기

In [100]:
scientist_names_from_pickle = pd.read_pickle('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_names_series.pickle')

In [101]:
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [102]:
scientists_from_pickle = pd.read_pickle('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_df.pickle')

In [103]:
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   37           Physician
6           Alan Turing  1912-06-23  1954-06-07   45  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV / TSV 형식으로 저장하기

In [110]:
names.to_csv('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientist_names_series.csv')

C:\Users\B0113\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [108]:
scientists.to_csv('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_df.tsv', sep='\t')

# CSV / TSV 불러오기

In [112]:
scientist_names_from_csv = pd.read_csv('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientist_names_series.csv')

In [113]:
print(scientist_names_from_csv)

   0     Rosaline Franklin
0  1        William Gosset
1  2  Florence Nightingale
2  3           Marie Curie
3  4         Rachel Carson
4  5             John Snow
5  6           Alan Turing
6  7          Johann Gauss

In [114]:
scientists_from_tsv = pd.read_csv('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_df.tsv', sep='\t')

In [115]:
print(scientists_from_tsv)

   Unnamed: 0                  Name        Born        Died  Age  \
0           0     Rosaline Franklin  1920-07-25  1958-04-16   77
1           1        William Gosset  1876-06-13  1937-10-16   61
2           2  Florence Nightingale  1820-05-12  1910-08-13   41
3           3           Marie Curie  1867-11-07  1934-07-04   66
4           4         Rachel Carson  1907-05-27  1964-04-14   90
5           5             John Snow  1813-03-15  1858-06-16   37
6           6           Alan Turing  1912-06-23  1954-06-07   45
7           7          Johann Gauss  1777-04-30  1855-02-23   56

           Occupation     born_dt     died_dt                    age_days_dt
0             Chemist  1920-07-25  1958-04-16  13779 days 00:00:00.000000000
1        Statistician  1876-06-13  1937-10-16  22404 days 00:00:00.000000000
2               Nurse  1820-05-12  1910-08-13  32964 days 00:00:00.000000000
3             Chemist  1867-11-07  1934-07-04  24345 days 00:00:00.000000000
4           Biologist  1907-05-27  1964-04-14  20777 days 00:00:00.000000000
5           Physician  1813-03-15  1858-06-16  16529 days 00:00:00.000000000
6  Computer Scientist  1912-06-23  1954-06-07  15324 days 00:00:00.000000000
7       Mathematician  1777-04-30  1855-02-23  28422 days 00:00:00.000000000

In [116]:
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   37           Physician
6           Alan Turing  1912-06-23  1954-06-07   45  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈와 데이터프레임을 엑셀 파일로 저장하기

### 데이터프레임만 엑셀로 가능

In [117]:
pip install xlwt

Requirement already satisfied: xlwt in c:\users\b0113\anaconda3\lib\site-packages (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [118]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\b0113\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: et-xmlfile in c:\users\b0113\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\b0113\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [119]:
names_df = names.to_frame()

In [120]:
import xlwt

In [122]:
names_df.to_excel('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_names_series_df.xls')

In [123]:
import openpyxl

In [124]:
names_df.to_excel('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_names_series_df.xlsx')

In [129]:
names_from_excel = pd.read_excel('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_names_series_df.xls')

In [130]:
print(names_from_excel)

   Unnamed: 0                  Name
0           0     Rosaline Franklin
1           1        William Gosset
2           2  Florence Nightingale
3           3           Marie Curie
4           4         Rachel Carson
5           5             John Snow
6           6           Alan Turing
7           7          Johann Gauss

In [132]:
names_from_excel2 = pd.read_excel('C:/Users/B0113/Desktop/문서_고은경/1-2주차 python_django/Pandas/doit_pandas-master/output_myself/scientists_names_series_df.xlsx')

In [133]:
print(names_from_excel2)

   Unnamed: 0                  Name
0           0     Rosaline Franklin
1           1        William Gosset
2           2  Florence Nightingale
3           3           Marie Curie
4           4         Rachel Carson
5           5             John Snow
6           6           Alan Turing
7           7          Johann Gauss