# 제곱 함수와 n 제곱 함수 만들기

In [1]:
def my_sq(x):
    return x**2

In [2]:
def my_exp(x, n):
    return x**n

In [3]:
print(my_sq(4))
print(my_exp(2,3))

16
8

# 시리즈와 apply 메서드

In [5]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [8]:
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
ex = df['a'].apply(my_exp, n=2)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드

In [11]:
def print_me(x):
    print(x)

In [13]:
print(df.apply(print_me, axis = 0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [14]:
print(df.apply(print_me, 1))

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

#### 3개의 인자를 입력받아 평균을 계산하는 함수

In [15]:
def avg_3(x,y,z):
    return (x+y+z)/3

In [17]:
# print(df.apply(avg_3))

#### 열 단위로 데이터를 처리할 수 있도록 함수 수정

In [18]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

In [19]:
print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

#### 행의 개수를 모를 때의 함수

In [26]:
def avg_3_apply2(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0]

In [27]:
print(df.apply(avg_3_apply2))

a    20.0
b    30.0
dtype: float64

#### 행 방향으로 데이터를 처리하는 함수

In [29]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / len(row)

In [32]:
print(df.apply(avg_2_apply, axis = 1))

0    15.0
1    25.0
2    35.0
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [3]:
import seaborn as sns
titanic = sns.load_dataset("titanic")

In [4]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

### 열별로 누락값의 개수 구하기

In [5]:
import pandas as pd
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [6]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

### 열별로 누락값의 비율 구하기

In [9]:
def prop_missing(vec):
    num = count_missing(vec)
    return num / vec.size

In [13]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

### 누락값이 아닌 데이터의 비율 구하기

In [14]:
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [15]:
print(titanic.apply(prop_complete))

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡

In [17]:
cmis_row = titanic.apply(count_missing, axis = 1)
pmis_row = titanic.apply(prop_missing, axis = 1)
pcom_row = titanic.apply(prop_complete, axis = 1)

In [19]:
print(cmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [20]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [21]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [22]:
print(type(cmis_row))

<class 'pandas.core.series.Series'>

### 누락값의 개수를 구하여 titanic 데이터프레임에 추가하기

In [23]:
titanic['num_missing'] = cmis_row
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

### 누락값이 있는 데이터만 따로 모아서 보기

In [26]:
print(titanic.loc[titanic['num_missing']> 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
95          0       3    male  NaN      0      0   8.0500        S   Third
375         1       1  female  NaN      1      0  82.1708        C   First
19          1       3  female  NaN      0      0   7.2250        C   Third
589         0       3    male  NaN      0      0   8.0500        S   Third
653         1       3  female  NaN      0      0   7.8292        Q   Third
667         0       3    male  NaN      0      0   7.7750        S   Third
181         0       2    male  NaN      0      0  15.0500        C  Second
28          1       3  female  NaN      0      0   7.8792        Q   Third
186         1       3  female  NaN      1      0  15.5000        Q   Third
77          0       3    male  NaN      0      0   8.0500        S   Third

       who  adult_male deck  embark_town alive  alone  num_missing
95     man        True  NaN  Southampton    no   True            2
375  woman       False  NaN    Cherbourg   yes  False            2
19   woman       False  NaN    Cherbourg   yes   True            2
589    man        True  NaN  Southampton    no   True            2
653  woman       False  NaN   Queenstown   yes   True            2
667    man        True  NaN  Southampton    no   True            2
181    man        True  NaN    Cherbourg    no   True            2
28   woman       False  NaN   Queenstown   yes   True            2
186  woman       False  NaN   Queenstown   yes  False            2
77     man        True  NaN  Southampton    no   True            2